@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

header{
    height: 130px;
    font-size: .8em;
    padding: 30px 20px;
}

header h1{
    text-align: center;
    color: white;
}

main{
    background-color: lightblue;
    width: 80%;
    margin: auto;
    padding: 20px;
}

main h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

section.capitulos{
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.item{
    border: 1px solid black;
    border-radius: 25px;
    width: 100px;
    padding: 8px;
    margin-bottom: 5px;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: black;
}
article h3{
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 992px){
    main{
        width: 640px;
    }
    
    section.capitulos{
        justify-content: space-around;
    }
}

@media screen and (min-width: 992px){
    main{
        width: 800px;
    }

    section.capitulos{
        justify-content: space-around;
    }
}