@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

header{
    background-color: lightgray;
    height: 130px;
    font-size: .8em;
    padding: 30px 20px;
}

header h1{
    text-align: center;
}

main{
    background-color: lightblue;
    width: 80%;
    margin: auto;
    padding: 20px;
}

main h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
}

section.capitulo01, section.capitulo02{
    background-color: white;
    border-radius: 25px;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.item{
    border: 1px solid black;
    border-radius: 25px;
    width: 100px;
    padding: 8px;
    margin-bottom: 5px;
    text-align: center;
}

article h3{
    text-align: center;
    margin-bottom: 10px;
}